* {
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 22px;
  padding: 100px 50px 50px;
}

.user-deets {
  text-align: left;
}

.user-deets img {
  margin-bottom: 20px;
  border-radius: 10px;
  width: 200px;
}

.user-deets a {
  text-decoration: none;
  color: #40a8f3;
  transition: 0.3s ease color;
}

.user-deets a:hover {
  text-decoration: underline;
}

.user-deets h3 {
  font-size: 50px;
  margin: 0 0 20px;
}

.user-deets strong {
  display: block;
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.users {
  text-align: left;
  margin: 30px 20px;
}

.users div {
  padding: 10px;
  margin: 10px;
  background: rgb(118, 165, 196);
  border-radius: 10px;
}

/* Events Styling */

h2 {
  text-align: center;
}

.event-container {
  font-family: sans-serif;
  text-align: center;
  padding: 100px;
  background: grey;
  color: #fff;
}

/* Calculator styling */

.calculator-container {
  font-family: sans-serif;
  text-align: center;
  padding-top: 100px;
  margin-top: 20px;
  background: #392767;
  color: #e5daff;
}

.calculator-container h1 {
  font-size: 34px;
  margin-bottom: 50px;
}

.calculator-container .number-inputs {
  margin-bottom: 20px;
}

.calculator-container input {
  font-size: 40px;
  border-radius: 10px;
  border: 1px solid #d2c0fd;
  width: 25%;
  padding: 10px;
  text-align: center;
  background: #d2c0fd;
  color: #2a1263;
}

input:first-child {
  margin-right: 20px;
}

.calculator-container button {
  padding: 30px 40px;
  font-size: 20px;
  border-radius: 20px 40px;
  background: #5f30e6;
  border: none;
  margin-bottom: 50px;
  color: #d7cbf7;
  cursor: pointer;
}

.calculator-container h2 {
  font-size: 80px;
}

/* movement container styling */
.movement-container {
  font-family: sans-serif;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 300px;
  background: #4478a8;
  color: rgb(225, 250, 228);
}

.movement-container .box {
  width: 150px;
  height: 150px;
  background: #dc5b39;
  margin: 0 auto;
  transform: translateY(300px);
  transition: 0.3s cubic-bezier(0.56, 0.2, 0.46, 1.27) all;
}

.movement-container button {
  margin-top: 40px;
  padding: 20px 40px;
  background: #049ad7;
  color: rgb(225, 244, 252);
  font-size: 40px;
  border-radius: 10px;
  border: none;
}

/* Fetch API container */
.fetchAPI-container {
  text-align: center;
}

.fetchAPI-container>h1 {
  margin-bottom: 5px;
}

.fetchAPI-container>h2 {
  margin-top: 5px;
  opacity: 0.7;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.fetch-button {
  min-width: 150px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(54, 202, 165);
  border: none;
  color: rgb(15, 66, 54);
  transition: all 0.5s;
}

.fetch-button:hover {
  background-color: rgb(40, 209, 209);
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 47%;
  color: #333;
  flex-basis: width;
  background-color: rgb(165, 230, 230);
}

.book h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  opacity: 0.7;
}

.book h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.details {
  text-align: left;
}